<aside id="sidebar">
    <!--分类-->
    <div class="widget-wrap">
        <h3 class="widget-title">分类</h3>
        <div class="widget">
            <ul class="category-list">
                {% for right in right_category %}
                    <li class="category-list-item">
                        <a class="category-list-link"
                           href="/category/{{ right.category }}">{{ right.category__cname }}</a>
                        <span class="category-list-count">{{ right.c }}</span>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </div>

    <!--归档-->
    <div class="widget-wrap">
        <h3 class="widget-title">归档</h3>
        <div class="widget">
            <ul class="archive-list">
                {% for rightfile in right_fill_post %}
                    <li class="archive-list-item">
                        <a class="archive-list-link"
                           href="/archive/{{ rightfile.0|date:"Y" }}/{{ rightfile.0|date:"m" }}">{{ rightfile.0|date:"Y年m月" }}</a>
                        <span class="archive-list-count">{{ rightfile.1 }}</span>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </div>

    <!--近期文章-->
    <div class="widget-wrap">
        <h3 class="widget-title">近期文章</h3>
        <div class="widget">
            <ul>
                {% for recentPost in right_recent_post %}
                    <li>
                        <a href="/post/{{ recentPost.id }}" target="_blank">{{ recentPost.title|truncatechars:5 }}</a>
                    </li>
                {% endfor %}

            </ul>
        </div>
    </div>
    <div class="widget-wrap">
        <h3 class="widget-title">友情链接</h3>
        <div class="widget">
            <ul>
                <li>
                    <a href="http://www.bjsxt.com/" target="_blank">尚学堂</a>
                </li>
                <li>
                    <a href="http://www.sxt.cn/" target="_blank">速学堂</a>
                </li>
            </ul>
        </div>
    </div>
</aside>
